.inbox{
     /* background-color: aqua;   */
    /* height:500px; */
    text-align: center;
    margin: 10px;
}

.inbox1{
    background-color: rgb(255, 255, 255);
    /* height: 200px; */
    margin:15px;
    text-align: center;
    padding: 45px;
}
.line{
   background-color:rgb(232, 177, 26);
   min-height: 5px;
   max-width: 100px;
   margin: auto;
   margin-top: -5px;
}

.inbox2{
    background-color: rgb(231, 229, 229);
    /* height: 200px; */
    margin:15px;
    text-align: center;
    padding: 45px;
}

.sun{
    background-color:rgb(232, 177, 26);
    color: white;
    padding: 10px;
    border-radius:1px;
    transition: 1s;
    text-decoration: none;
}

 /* .inbox3{
    /* background-color: antiquewhite; */
     /* height: 550px;  */
    /* text-align: center; 
     padding: 25px;  */
 /* }  */ 


 .icon1{
    color:rgb(232, 177, 26);
 }

 /* .inbox6{
    background-color: antiquewhite;
    height: 500px;
 } */

 .inbox4{
     /* background-color: rgb(42, 90, 132);  */
    text-align: center;
    margin: 15px;
    padding:5px ;
 }
 .sid{
     background-color: aliceblue;
 }
 .inbox5{
    background-color:rgb(232, 177, 26);
    /* height: 300px; */
    margin: 5px;
    text-align: center;
    padding: 50px;
 }
 .inbox6{
    background-color: rgb(255, 255, 255); 
    /* height: 300px; */
    margin:5px;
    text-align: center;
    padding: 50px;
 }
 .inbox3{
   /* background-color:rgb(232, 177, 26); */
   /* height: 300px; */
   margin: 5px;
   text-align: center;

 }

 .inbox7{
   /* height: 250px; */
   padding:50px ;
 }
 
.bunny{
    background-color:rgba(2, 5, 10, 0.76);
    background-image: url(com.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-blend-mode:soft-light;
}
.s1{
    color:rgb(232, 177, 26);

      }
.icon2{
   color:rgb(232, 177, 26);
   font-size: 30px;
}
.v{
   color: white;
}
.inbox8{
   background-color:rgb(232, 177, 26);
   color: white;
   text-align: center;
   margin: 15px;
   padding: 5px;
}
.inbox9{
   text-align: center;
   margin: 15px;
   padding: 5px;
}
.inbox10{
    /* background-color: rgb(2, 71, 131);  */
   height:100%;
   /* margin: 15px;
   padding: 10px; */
}

.jim{
   height: 100%;
   padding: 10px;
}
.icon3{
   font-size: 30px;
}
.inbox11{
   background-color: rgb(255, 255, 255);
   /* height: 150px; */
   text-align: center;
   padding: 5px;
   margin: 10px;
}
.inbox12{
   background-color: rgb(235, 217, 147);
   /* height: 150px; */
   text-align: center;
   padding: 30px;
}
.icon4{
   font-size: 30px;
}
.tiger{
   font-size: 30px;
}
.inbox13{
   background-color: rgb(248, 245, 241);
   /* height: 250px; */
   padding: 50px;
   text-align: center;
}
.inbox14{
   background-color: rgb(232, 177, 26);
   /* height: 150px; */
   text-align: center;
   padding: 30px;
}

.inbox15{
   background-color: rgb(255, 255, 255);
   /* height: 250px; */
   padding: 50px;
   text-align: center;
}

.mj{
   background-color: rgb(235, 217, 147);
   text-decoration: none;
   color: white;
   padding: 10px;
   border-radius:1px;
   transition: 1s;
}
.jj{
  background-color:  rgb(232, 177, 26);
  color: white;
  padding: 10px;
  border-radius:1px;
  transition: 1s;
  text-decoration: none;
}
.inbox16{
   margin-bottom:10px;
   height: 485px;
   background-image: url(ar.jpg);
   background-size: cover;
}


.inbox17{
   /* background-color: rgb(255, 255, 255); */
   color: white;
   /* height: 100px; */
   text-align: center;
   padding: 5px;
   margin: 15px;
}
.inbox18{
   background-color:rgb(255, 255, 255) ;
   /* height:100%; */
   text-align: center;
   padding: 5px;
   margin: 5px;
}
.run{
   background-color:rgba(3, 8, 17, 0.76);
   background-image: url(building.jpg);
   background-size:cover;
   background-repeat: no-repeat;
   background-blend-mode:soft-light;
   /* margin: 15px; */

}
.pooh{
   border-radius: 50%;
   padding: 20px;
}
.vkook{
   /* background-color: rgb(232, 177, 26);  */
   color: white;
   padding:10px;
   border-radius:1px;
   transition: 1s;
   border:2px solid rgb(223, 223, 223);
   text-decoration: none;

}
.inbox19{
   text-align: center;
   height: 50px;
   margin: 30px;
}
.inbox20{
   text-align: center;
}
.inbox21{
background-color: rgb(255, 255, 255);
/* height: 300px; */
padding: 60px;
border-radius:10px;
margin: 5px;
}

 .kookie{
   border-radius: 50%;
   height:50px;

}
.hope{
   background-color:  rgb(232, 177, 26);
   color: white;
   padding: 10px;
   border-radius:1px;
   transition: 1s;
   text-decoration: none;
}
.inbox22{
   text-align: center;
   margin: 30px;
}
.nj{
   background-color: rgb(170, 182, 194);
}

.inbox23{
   background-color: rgb(255, 255, 255);
   /* height: 200px; */
   text-align: center;
   padding: 30px;
   margin: 5px;
}
.icon5{
   color:rgb(232, 177, 26);
   font-size: 50px;
}

.icon6{
   color:rgb(255, 255, 255);
   font-size: 50px;
}
.inbox24{
   background-color:rgb(232, 177, 26);
   /* height: 200px; */
   text-align: center;
   padding: 30px;
   margin: 5px;
}
.inbox25{
   background-color: rgb(255, 255, 255);
   /* height: 200px; */
   text-align: center;
   padding: 30px;
   margin: 5px;
}

.ruby{
   background-color:rgba(3, 8, 17, 0.858);
   background-image: url(room.webp);
   background-size:cover;
   background-repeat: no-repeat;
   background-blend-mode:soft-light;
   padding: 30px;
}
.pink{
   background-image:url(up.jpg) ;
   background-size: cover;
   background-repeat: no-repeat;
   background-blend-mode:soft-light;
   /* height: 600px; */
   padding: 20px;
}
.inbox26{
   color:rgb(232, 177, 26) ;

}
.inbox27{
   background-color: rgba(12, 12, 12, 0.638);
   /* height: 250px; */
   padding: 20px;
   color: rgb(255, 255, 255);
   margin: 10px;

}
.inbox28{
   background-color: white;
   /* height: 50px; */
}
.icon8{
   font-size:40px;
   color:rgb(232, 177, 26) ;
}
.one{
   color: white;
   text-align: center;
   padding: 20px;
}
.jk{
   color: white;
   padding:10px;
   border-radius:1px;
   transition: 1s;
   border:1px solid rgb(230, 174, 20);
   text-decoration: none;
}
.inbox29{
   text-align: center;
}
 /* .opacity{
   background-color: rgba(0, 0, 0, 0.524);
}  */
.inbox30{
   /* padding:0px 70px 0px 70px; */
}
.nav-link{
   color: rgb(26, 19, 3);
   text-decoration: none;
   font-size: 20px;
}
.nav{
   color:black ;
   text-decoration: none;
   font-size: 20px;
}
.color{
   color: rgb(230, 174, 20)!important;
}


.inbox32{
     /* background-color: antiquewhite;   */
   /* height: 350px; */
   margin: 15px;
   padding:50px;
}
.inbox33{
   /* background-color: antiquewhite;  */
   /* height: 350px; */
   margin: 15px;
   padding: 30px;
}

.inbox34{
   /* background-color: antiquewhite;  */
   /* height: 350px; */
   margin: 15px;
   padding: 30px;
   text-align: end;
}

.sec1{
   background-color:aliceblue;
}

